parameters:
	ignoreErrors:
		-
			message: '#^Trait Serri\\Alchemist\\Concerns\\HasAlchemyFormulas is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Concerns/HasAlchemyFormulas.php

		-
			message: '#^Method Serri\\Alchemist\\Context\\BrewingContext\:\:__construct\(\) has parameter \$attributes with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Context/BrewingContext.php

		-
			message: '#^Method Serri\\Alchemist\\Context\\BrewingContext\:\:__construct\(\) has parameter \$decoction with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Context/BrewingContext.php

		-
			message: '#^Method Serri\\Alchemist\\Context\\BrewingContext\:\:__construct\(\) has parameter \$formula with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Context/BrewingContext.php

		-
			message: '#^Method Serri\\Alchemist\\Context\\BrewingContext\:\:__construct\(\) has parameter \$ingredients with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Context/BrewingContext.php

		-
			message: '#^Method Serri\\Alchemist\\Context\\BrewingContext\:\:__construct\(\) has parameter \$raw with generic class Illuminate\\Support\\Collection but does not specify its types\: TKey, TValue$#'
			identifier: missingType.generics
			count: 1
			path: src/Context/BrewingContext.php

		-
			message: '#^Method Serri\\Alchemist\\Context\\BrewingContext\:\:attributes\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Context/BrewingContext.php

		-
			message: '#^Method Serri\\Alchemist\\Context\\BrewingContext\:\:decoction\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Context/BrewingContext.php

		-
			message: '#^Method Serri\\Alchemist\\Context\\BrewingContext\:\:formula\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Context/BrewingContext.php

		-
			message: '#^Method Serri\\Alchemist\\Context\\BrewingContext\:\:ingredients\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Context/BrewingContext.php

		-
			message: '#^Method Serri\\Alchemist\\Context\\BrewingContext\:\:raw\(\) return type with generic class Illuminate\\Support\\Collection does not specify its types\: TKey, TValue$#'
			identifier: missingType.generics
			count: 1
			path: src/Context/BrewingContext.php

		-
			message: '#^Method Serri\\Alchemist\\Context\\BrewingContext\:\:setAttributes\(\) has parameter \$attributes with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Context/BrewingContext.php

		-
			message: '#^Method Serri\\Alchemist\\Context\\BrewingContext\:\:setDecoction\(\) has parameter \$decoction with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Context/BrewingContext.php

		-
			message: '#^Method Serri\\Alchemist\\Context\\BrewingContext\:\:setFormula\(\) has parameter \$formula with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Context/BrewingContext.php

		-
			message: '#^Method Serri\\Alchemist\\Context\\BrewingContext\:\:setIngredients\(\) has parameter \$ingredients with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Context/BrewingContext.php

		-
			message: '#^Method Serri\\Alchemist\\Context\\BrewingContext\:\:setRaw\(\) has parameter \$raw with generic class Illuminate\\Support\\Collection but does not specify its types\: TKey, TValue$#'
			identifier: missingType.generics
			count: 1
			path: src/Context/BrewingContext.php

		-
			message: '#^Property Serri\\Alchemist\\Context\\BrewingContext\:\:\$attributes type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Context/BrewingContext.php

		-
			message: '#^Property Serri\\Alchemist\\Context\\BrewingContext\:\:\$decoction type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Context/BrewingContext.php

		-
			message: '#^Property Serri\\Alchemist\\Context\\BrewingContext\:\:\$formula type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Context/BrewingContext.php

		-
			message: '#^Property Serri\\Alchemist\\Context\\BrewingContext\:\:\$ingredients type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Context/BrewingContext.php

		-
			message: '#^Property Serri\\Alchemist\\Context\\BrewingContext\:\:\$raw with generic class Illuminate\\Support\\Collection does not specify its types\: TKey, TValue$#'
			identifier: missingType.generics
			count: 1
			path: src/Context/BrewingContext.php

		-
			message: '#^Method Serri\\Alchemist\\Contracts\\BrewingHandlerContract\:\:brew\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Contracts/BrewingHandlerContract.php

		-
			message: '#^Method Serri\\Alchemist\\Contracts\\IngredientContract\:\:infuse\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Contracts/IngredientContract.php

		-
			message: '#^Class Serri\\Alchemist\\Facades\\Alchemist has PHPDoc tag @method for method brew\(\) return type with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Facades/Alchemist.php

		-
			message: '#^PHPDoc tag @method for method Serri\\Alchemist\\Facades\\Alchemist\:\:brew\(\) parameter \#1 \$collection contains generic class Illuminate\\Support\\Collection but does not specify its types\: TKey, TValue$#'
			identifier: missingType.generics
			count: 1
			path: src/Facades/Alchemist.php

		-
			message: '#^PHPDoc tag @method for method Serri\\Alchemist\\Facades\\Alchemist\:\:brewBatch\(\) parameter \#1 \$paginator contains generic class Illuminate\\Pagination\\LengthAwarePaginator but does not specify its types\: TKey, TValue$#'
			identifier: missingType.generics
			count: 1
			path: src/Facades/Alchemist.php

		-
			message: '#^PHPDoc tag @method for method Serri\\Alchemist\\Facades\\Alchemist\:\:brewBatch\(\) return type contains generic class Illuminate\\Pagination\\LengthAwarePaginator but does not specify its types\: TKey, TValue$#'
			identifier: missingType.generics
			count: 1
			path: src/Facades/Alchemist.php

		-
			message: '#^Method Serri\\Alchemist\\Handlers\\AttributeBrewingHandler\:\:brew\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Handlers/AttributeBrewingHandler.php

		-
			message: '#^Method Serri\\Alchemist\\Handlers\\MultipleBrewingHandler\:\:brew\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Handlers/MultipleBrewingHandler.php

		-
			message: '#^Method Serri\\Alchemist\\Handlers\\SingleBrewingHandler\:\:brew\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Handlers/SingleBrewingHandler.php

		-
			message: '#^Method Serri\\Alchemist\\Helpers\\DecoratorHelper\:\:getMethodsNamesByDecorator\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Helpers/DecoratorHelper.php

		-
			message: '#^Method Serri\\Alchemist\\Ingredients\\FillableIngredient\:\:infuse\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Ingredients/FillableIngredient.php

		-
			message: '#^Method Serri\\Alchemist\\Ingredients\\GuardedIngredient\:\:infuse\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Ingredients/GuardedIngredient.php

		-
			message: '#^Method Serri\\Alchemist\\Ingredients\\MutagenIngredient\:\:infuse\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Ingredients/MutagenIngredient.php

		-
			message: '#^Method Serri\\Alchemist\\Ingredients\\RelationIngredient\:\:infuse\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Ingredients/RelationIngredient.php

		-
			message: '#^Method Serri\\Alchemist\\Services\\Alchemist\:\:brew\(\) has parameter \$collection with generic class Illuminate\\Support\\Collection but does not specify its types\: TKey, TValue$#'
			identifier: missingType.generics
			count: 1
			path: src/Services/Alchemist.php

		-
			message: '#^Method Serri\\Alchemist\\Services\\Alchemist\:\:brew\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Services/Alchemist.php

		-
			message: '#^Method Serri\\Alchemist\\Services\\Alchemist\:\:brewBatch\(\) has parameter \$paginator with generic class Illuminate\\Pagination\\LengthAwarePaginator but does not specify its types\: TKey, TValue$#'
			identifier: missingType.generics
			count: 1
			path: src/Services/Alchemist.php

		-
			message: '#^Method Serri\\Alchemist\\Services\\Alchemist\:\:brewBatch\(\) return type with generic class Illuminate\\Pagination\\LengthAwarePaginator does not specify its types\: TKey, TValue$#'
			identifier: missingType.generics
			count: 1
			path: src/Services/Alchemist.php

		-
			message: '#^Method Serri\\Alchemist\\Services\\Alchemist\:\:initContext\(\) has parameter \$collection with generic class Illuminate\\Support\\Collection but does not specify its types\: TKey, TValue$#'
			identifier: missingType.generics
			count: 1
			path: src/Services/Alchemist.php

		-
			message: '#^Property Serri\\Alchemist\\Services\\Alchemist\:\:\$configuration type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Services/Alchemist.php

		-
			message: '#^Method Serri\\Alchemist\\Support\\BrewingConfigLoader\:\:load\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Support/BrewingConfigLoader.php

		-
			message: '#^Right side of or is always false\.$#'
			identifier: logicalOr.rightAlwaysFalse
			count: 2
			path: src/Support/BrewingConfigLoader.php

		-
			message: '#^Call to an undefined static method Illuminate\\Database\\Eloquent\\Model\:\:formula\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: src/Support/Druid.php

		-
			message: '#^Expression on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.expr
			count: 1
			path: src/Support/Druid.php

		-
			message: '#^Method Serri\\Alchemist\\Support\\Druid\:\:examine\(\) has parameter \$collection with generic class Illuminate\\Support\\Collection but does not specify its types\: TKey, TValue$#'
			identifier: missingType.generics
			count: 1
			path: src/Support/Druid.php

		-
			message: '#^Method Serri\\Alchemist\\Support\\Druid\:\:examine\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Support/Druid.php

		-
			message: '#^Method Serri\\Alchemist\\Support\\Druid\:\:extract\(\) has parameter \$ingredients with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Support/Druid.php

		-
			message: '#^Method Serri\\Alchemist\\Support\\Druid\:\:extract\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: src/Support/Druid.php

		-
			message: '#^Method Serri\\Alchemist\\Support\\Druid\:\:extract\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Support/Druid.php

		-
			message: '#^Static call to instance method stdClass\:\:usesDecorator\(\)\.$#'
			identifier: method.staticCall
			count: 1
			path: src/Support/Druid.php
